.buttonWrapper {
  display: block;
}

.button {
  background: #ffffff;
  color: #6e6e6e;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  border-radius: 4px;
}

.button svg {
  fill: #6e6e6e;
}

.button:hover, .button:focus {
  background: #e0e0e0;
  outline: 0; 
}

.active {
  color: #2c5f7f;
}

.active svg {
  fill: #2c5f7f;
}