*~

.vs/
.idea/

bin/
obj/
wwwroot/
node_modules/

*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.iml

*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.scc
*.psess
*.vsp
*.vspx
*.sap
*.jfm
*.pfx
*.mdf
*.ldf
*.ndf
*.plg
*.opt
*.vbw
*.tss
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

*.nupkg
*.nuget.props
*.nuget.targets

project.lock.json
project.fragment.lock.json

**/Properties/*