.vs/
.idea/

bin/
obj/
wwwroot/
node_modules/

*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.iml

*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
*.scc

project.lock.json
project.fragment.lock.json

**/Properties/*