<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pdopnex-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>https://pdopnex-001-site1.dtempurl.com:8172/msdeploy.axd?site=pdopnex-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>pdopnex-001-site1</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <AllowUntrustedCertificate>True</AllowUntrustedCertificate>
    <UserName>ifc\pdopnex-001</UserName>
    <Password>qwerty123</Password>
  </PropertyGroup>
</Project>